/*--- Main css --*/
html, body{
    height: 100%;
    width: 100%;
    color: #222;
    font-family: "Work Sans", sans-serif;
}
.jumbotronHeader{
    background-image: url("../images/back2.jpg");
    background-size: cover;
    background-position: center;
    top: 0;
    height: 100%;
    margin-bottom: 0;
    border-radius: 0px !important;
}
.navbar{
    padding: .8rem;
    transition: background-color 200ms linear;
}

/*--- Changing navbar color when scrolled --*/
.navbar.scrolled {
    background-color: #ebe8eb !important;
    transition: background-color 200ms linear;
}
.navbar.scrolled .navbar-nav a{
    color: #222 !important;
}
.navbar.scrolled .navbar-toggler{
    color: #222 !important;
}

.navbar-brand{
    color: #ee8228 !important;
    font-size: 1.8em;
    font-weight: bold;
    padding: 0 1.2rem;
}
.navbar-nav li{
    margin-right: 20px;
}
.nav-link{
    font-size: 1em !important;
    font-weight: 600;
}
.navbar-nav a{
    color: white !important;
}
.navbar-nav a:hover{
    border-bottom: 2px solid #ee8228 !important;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h2{
    font-size: 500%;
    font-weight: 370;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}
.btn-primary{
    background: linear-gradient(45deg, #ef812a 0%, 
    #f26c4e 50%, #f7527b 100%) !important;
    border: 1px solid #f26c4e;
    color: white !important;
}
.btn-primary:hover{
    background: linear-gradient(45deg, #ef812a 0%, 
    #f26c4e 50%, #f7527b 100%) !important;
    border: 1px solid #f26c4e;
}
.padding{
    padding-bottom: 2rem
}
.jumbotronCount{
    padding: 1em;
    border-radius: 0;
    background: linear-gradient(45deg, #ef812a 0%, 
    #f26c4e 50%, #f7527b 100%) !important;
    color: white;
}
.jumbotronCount h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 38px
}
#about .col-lg-6{
    padding: 3rem;
}
#about .info{
    padding-top: 5rem;
    font-size: 17px;
    line-height: 30px;
}
#speakers h1, #blog h1, #contact h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 10px;
}
#speakers, #blog, #contact{
    width: 75%;
    margin: 0 auto;
}
#speakers hr, #blog hr, #contact hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem
}
#speakers p, #blog p, #contact p{
    color: rgb(106, 107, 124);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0px
}
#card{
    padding: 0 !important;
    border: 0px !important;
}
#card-body{
    background: linear-gradient(45deg, #ef812a 0%, 
    #f26c4e 50%, #f7527b 100%) !important;
    color: white;
}
.social a{
    font-size: 1.5em;
    padding: .2em;
}
.social .fab{
    color: white;
}
.fa-facebook:hover{
    color: #3b5998;
}
.fa-twitter:hover{
    color: #00aced;
}
.fa-linkedin-in:hover{
    color: #00aced;
}
.fa-instagram:hover{
    color: #517fa8;
}
.card{
    border: 0px !important;
}
#post .col-md-6{
    padding: 0 3rem; 
}
.form{
    margin-top: -3rem;
    padding: 0 10%;
}
.form-control::placeholder{
    color: #e7e0de;
}
input:focus, textarea:focus{
    border-color: #f26c4e !important;
}
footer{
    background-color: #171822;
    color: #d5d5d5;
    padding-top: 2rem;
    margin-top: 2rem;
}



/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/







